.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    height: 100%;
    padding: 40px; 
}